{%  extends 'base.html.j2' %}

{% block page %}Images{% endblock %}

{% block body %}
<table class="table table-zebra">
    <thead>
    <tr>
        <th>Image Name</th>
        <th>Result of XEOL</th>
        <th>Result of Trivy</th>
        <th>Usage by Containers</th>
    </tr>
    </thead>
    <tbody>
    {% for image in data %}
    <tr class="hover" onclick="openImage('{{ image.id }}')">
        <td>
            {{ image.name }}
            <br/>
            <small class="text-gray-500">{{ image.repo_digest }}</small>
            <br/>
            <small class="text-gray-500">{{ image.image_tags }}</small>
        </td>
        <td>
            {% if image.is_eol == True %}
            <span class="text-error">EOL</span>
            {% elif image.is_eol == None %}
            <span class="text-success">NOT EOL</span>
            {% endif %}
        </td>
        <td>
            {% if image.trivy_findings %}
            <span class="text-error">{{ image.trivy_findings['high'] }}</span> |
            <span class="text-warning">{{ image.trivy_findings['medium'] }}</span> |
            <span class="text-info">{{ image.trivy_findings['low'] }}</span>
            {% endif %}
        </td>
        <td>{{ image.usage_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    function openImage(id) {
        window.location.href = "/images/" + id;
    }
</script>
{% endblock %}
